<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle__Deadline"> <%= section_title %> </p>
    <p class="TodoSectionTitle__Count"> <%= todos.completed.count %>  / <%= todos.count %> </p>
  </div>
  <ul class="TodoList">
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <%= form_with(url: "/todos/#{todo.id}", method:"put") do %>
          <input
            type="checkbox"
            name="completed"
            <%= todo.completed ? "checked" : "" %>
            onclick="this.form.submit()">
        <% end %>
        <p class="<%= todo.completed ? "TodoItem__Title--striked" : "TodoItem__Title"%>">
          <%= todo.todo_text %>
        </p>
        <% if show_due_date %>
          <p class="TodoItem__Date"> <%= todo.due_date.to_s(:short) %> </p>
        <% end %>
          <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
            <input class="TodoItem__Delete"type="image" src="/delete.png" alt="delete button">
          <% end %>
      </li>
    <% end %>
  </ul>
</section>
