<main class="TodoPage">
    <h1 class="TodoPageTitle">
      My Todo-list
    </h1>
    <form method="POST" action="/todos" class="AddTodo">
      <%= text_field_tag("todo_text", nil, class: "AddTodo__Text", placeholder: "What's next?") %>
      <%= text_field_tag("due_date", nil, type: "date", class: "AddTodo__Date") %>
      <%= text_field_tag("Add", "Add", type: "submit", class: "AddTodo__AddButton") %>
    </form>

    <%= render partial: "todo-section",locals: {
        section_title: "Overdue",
        todos: Todo.overdue.incomplete,
        show_due_date: true,
      } %>

    <%= render partial: "todo-section",locals: {
        section_title: "Due Today",
        todos: Todo.due_today,
        show_due_date: false,
      } %>

    <%= render partial: "todo-section",locals: {
        section_title: "Due Later",
        todos: Todo.due_later,
        show_due_date: true,
      } %>
  </main>
